[github]
  user = ejima
[user]
  email = jemiam@gmail.com
  name = Manabu Ejima
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  grep = auto
[push]
  default = current
[core]
  editor = vim
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
  quotepath = false
[alias]
  co = checkout
  st = status -s
  ig = clean -ndX
  delete-merged-branches = !git branch --merged | grep -vE '^\\*|master|develop$' | xargs -n 1 git branch -d
  cb = rev-parse --abbrev-ref HEAD
  diffc = diff --name-only --diff-filter=U
  showpr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
  spr = !git showpr
  openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
  opr = !git openpr
  update-master = !git checkout master && git fetch --prune && git merge origin/master
  um = !git update-master
  update-develop = !git checkout develop && git fetch --prune && git merge origin/develop
  ud = !git update-develop
  bpr = !git-blame-pr.pl
  open-bpr = "!f() { r=$(git bpr $1 | peco); echo $r | cut -f2 -d ' ' | cut -c2- | xargs -I {} hub browse -- pull/{}; }; f"
  frs = !git flow release start
  frf = !git flow release finish
[diff "ansible-vault"]
  textconv = ansible-vault view
  cachetextconv = true
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
