[github]
  user = ejima
[user]
  email = jemiam@gmail.com
  name = Manabu Ejima

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  grep = auto
[push]
  default = current
[core]
  editor = vim
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
[alias]
  co = checkout
  st = status -s
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
