.*.sw[po]
.ctags
tags
.vim/.netrwhist
.vim/tmp/*
.vim/undodir/*
!.vim/tmp/.gitkeep
!.vim/undodir/.gitkeep
.DS_store
nvim/.netrwhist
nvim/tmp/*
nvim/undodir/*
nvim/plugged/*
!nvim/tmp/.gitkeep
!nvim/undodir/.gitkeep
.kaggle/kaggle.json
*.bak
